.home-main {
  min-height: 100vh;
  background-color: #faf1e4;
}

.home-book {
  width: 60vw;
  margin: 2%;
  background-color: #cedebd;
}

.home-btn {
  width: 80px;
}

@media screen and (max-width: 768px) {
  .home-btn {
    width: 20vw;
  }
}
